{% extends 'layout.html' %}
{% block body %}

<div class="about-section" style="text-align: center; padding: 20px;">
  <h1>Welcome</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis assumenda similique laboriosam 
    ratione exercitationem? Tempora nihil nemo voluptas qui aut, velit esse odit sunt delectus laboriosam.
     Sed magnam dolorem at temporibus cupiditate deserunt aliquid delectus itaque quaerat placeat sapiente 
     accusamus, illum dolorum nemo iusto tempora. Placeat nisi cumque adipisci cupiditate id magnam aspernatur
      temporibus quisquam rem sit! Praesentium, a consectetur.</p>
</div>

<h2 style="text-align: center;">Our Team</h2>
<br>
<div class="column" style="display: flex; justify-content: center;">

  <!-- Birinci kişi -->
  <div class="column" style="margin: 10px; text-align: center;">
      <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); max-width: 300px; margin: auto;">
          <div class="container" style="padding: 16px;">
              <h2>Berkay Kaan Karaca</h2>
              <p class="title">CEO & Founder</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>jane@example.com</p>
              <p><button class="button" style="background-color: #4CAF50; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">Contact</button></p>
          </div>
      </div>
  </div>

  <!-- İkinci kişi -->
  <div class="column" style="margin: 10px; text-align: center;">
      <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); max-width: 300px; margin: auto;">
          <div class="container" style="padding: 16px;">
              <h2>Kıvanç Terzioğlu</h2>
              <p class="title">CTO</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>john@example.com</p>
              <p><button class="button" style="background-color: #4CAF50; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">Contact</button></p>
          </div>
      </div>
  </div>

  <!-- Üçüncü kişi -->
  <div class="column" style="margin: 10px; text-align: center;">
      <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); max-width: 300px; margin: auto;">
          <div class="container" style="padding: 16px;">
              <h2>Onur Uslu</h2>
              <p class="title">Lead Designer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>mary@example.com</p>
              <p><button class="button" style="background-color: #4CAF50; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">Contact</button></p>
          </div>
      </div>
  </div>

  <!-- Dördüncü kişi -->
  <div class="column" style="margin: 10px; text-align: center;">
      <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); max-width: 300px; margin: auto;">
          <div class="container" style="padding: 16px;">
              <h2>Bedirhan Demir</h2>
              <p class="title">Marketing Manager</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>david@example.com</p>
              <p><button class="button" style="background-color: #4CAF50; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">Contact</button></p>
          </div>
      </div>
  </div>
</div>
{% endblock body %}